body {
    font-family: Arial, sans-serif;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color: #eeeeee;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}